<h1>Create a Project.</h1>

<%= form_for @project do |f| %>
  <div class="field">
    <%= f.label :title %> </br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %> </br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :goal %> </br>
    <%= f.number_field :goal %>
  </div>

  <div class="field">
    <%= f.label :start_date %> </br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :finish_date %> </br>
    <%= f.date_select :finish_date %>
  </div>

  <%= f.fields_for :rewards do |r| %>
 
    <div>
      <%= r.label :description %>
      <%= r.text_field :description %>
    </div>
    <div>
      <%= r.label :min_amount %>
      <%= r.text_field :min_amount %>
    </div>
 
   <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>

  
<% end %>
