
<%= link_to 'Back', projects_path %>

<h1><%= @project.title %></h1>

<h2><%= @project.days_remaining %> day(s) remaining</h2>
<p><%= @project.description %></p>
<% @rewards.each do |reward| %>
	<%= reward.min_amount %> </br>
	<%= reward.description %> </br>
	<%= form_for [@project, Pledge.new(amount: reward.min_amount)] do |f| %>
		<%= f.hidden_field 'amount' %>
		<%= f.submit reward.min_amount %>
	<% end %>
<% end %>

