
<%= link_to 'Back', projects_path %>

<h1><%= @project.title %></h1>
<div class="progress large-6 success round">
	<span class="meter" style="width: <%= @pledge_percent %>%">
	</span><%= @pledge_percent %>% : $<%= @project.goal %> of $<%= @total_pledges %> raised
</div>
<br>
<p><%= @project.description %></p>

<ul class="pricing-table">
<li><%= image_tag(@project.picture) %></li>
<li class="title"><%= @project.title %></li>

<li class="description"><%= @project.description %></li>
</ul>
<% @rewards.each do |reward| %>
	<%= reward.min_amount %> </br>
	<%= reward.description %> </br>
	<%= form_for [@project, Pledge.new(amount: reward.min_amount)] do |f| %>
		<%= f.hidden_field 'amount' %>
		<%= f.submit reward.min_amount %>
	<% end %>
<% end %>

